html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button.link {
  border: none;
  background: none;
  color: #0070f3;
  cursor: pointer;
  appearance: none;
  text-rendering: unset;
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: none;
  text-indent: unset;
  text-shadow: none;
  text-align: unset;
  align-items: unset;
  margin: unset;
  font: unset;
  outline: none;

  &:hover {
    text-decoration: underline;
  }
}

:root {
  --heading: #444;
  --content: #444;
  --sub: #777;

  --primary: rgb(57, 111, 191);
  --danger: #e65f47;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

p {
  color: var(--content);
}

li {
  color: var(--content);
}
