.button {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  background: white;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.fillPrimary {
  background: var(--primary);

  &:hover {
    background: #5683c6;
  }
}

.outlinePrimary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.fillDanger {
  background: var(--danger);

  &:hover {
    background: #5683c6;
  }
}

.outlineDanger {
  border: 1px solid var(--danger);
  color: var(--danger);
}

.small {
  height: 28px;
  min-width: 50px;
  padding: 4px;
  font-size: 14px;
}

.medium {
  height: 40;
  min-width: 60px;
  padding: 8px;
  font-size: 16px;
}

.expand {
  width: 100%;
}
