.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgb(201, 211, 245);
}

.inner {
  display: flex;
  width: 1200px;
  padding: 40px 0;
}

.preview {
  flex: 1;
  height: 100%;
  padding: 10px;
  background: white;
  overflow: scroll;

  & > :first-child {
    width: 100%;
    height: 100%;
  }
}

.params {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin-left: 30px;
  border-radius: 18px;
  padding: 10px;
  background: white;
}

.paramsRow {
  margin: 7px 0;
  display: flex;
  align-items: center;
  color: var(--content);

  & > :first-child {
    display: inline-block;
    width: 150px;
    margin-right: 14px;
  }

  & > :not(:first-child) {
    display: inline-block;
    width: 100%;
  }
}

.radioGroup {
  display: flex;
}

.pattern {
  display: flex;
  margin-bottom: 20px;

  & > div:nth-child(2) {
    flex: 1;
    padding-left: 8px;
    display: flex;
    flex-direction: column;

    h2,
    h3 {
      margin: 0;
    }

    div {
      flex: 1;
      display: flex;
    }
  }
}

.paramsButtonRow {
  composes: paramsRow;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  margin-top: 20px;
}
