.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: rgb(201, 211, 245);
}

.inner {
  display: flex;
  width: 1200px;
  padding: 40px 0;
}

.preview {
  flex: 1;
  height: 100%;
  padding: 10px;
  background: white;
  border-radius: 18px;

  & > :first-child {
    width: 100%;
    height: 100%;
  }
}

.params {
  width: 400px;
  height: 100%;
  margin-left: 30px;
  border-radius: 18px;
  padding: 10px;
  background: white;
}

.paramsRow {
  margin: 10px 0;
  display: flex;
  align-items: center;
  color: var(--content);

  & > :first-child {
    margin-right: 14px;
  }
}
