.button {
  display: contents;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.list {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    list-style: none;
  }
}

.thumbnail {
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 4px;
}

.selected {
  outline: 4px solid var(--primary);
}

.thumbnailRow {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
