.list {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    list-style: none;
  }

  button {
    display: contents;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
}

.thumbnail {
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.thumbnailRow {
  display: flex;
}
